In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [29]:
df = pd.read_csv("duplicate_questions_pairs.xls")

In [30]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [31]:
df.shape

(404290, 6)

In [55]:
new_df = df.sample(3000)

In [57]:
new_df

,id,qid1,qid2,question1,question2,is_duplicate
13523,13523,25959,6740,What might happen now that President-elect Don...,What will happen if Donald Trump became the pr...,1
110150,110150,104540,180658,Who won World War 2?,World War II: What country won World War II? W...,0
151421,151421,21548,14490,What will be the effects of demonitizing 500 a...,What can be the possible effects of removing 5...,1
186520,186520,284463,284464,"In The Vampire Diaries (TV series), what does ...",Which is the best Dork Diaries series?,0
142641,142641,226176,226177,Is there justice in the play Othello?,Which MNC gives the best environment as a soft...,0
...,...,...,...,...,...,...
81180,81180,137880,137881,Why can metal-poor stars supply the record of ...,Do all stars in a galaxy travel at the same sp...,0
281292,281292,160850,401049,What is the most ridiculous reason for which y...,What are the most common reasons why janitors ...,0
271973,271973,17201,336574,What are the best lines to start anchoring in ...,What are tips for anchoring?,0
146345,146345,1932,21592,Do long distance relationships work?,Can long distance relationships work out?,1
14388,14388,27564,27565,What is the worth of a 1929 penny in 2016? Wha...,How much would a penny from 1800 be worth in 2...,0

In [59]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [61]:
new_df.duplicated().sum()

0

In [63]:
ques_df = new_df[['question1','question1']]
ques_df.head()

,question1,question1
13523,What might happen now that President-elect Don...,What might happen now that President-elect Don...
110150,Who won World War 2?,Who won World War 2?
151421,What will be the effects of demonitizing 500 a...,What will be the effects of demonitizing 500 a...
186520,"In The Vampire Diaries (TV series), what does ...","In The Vampire Diaries (TV series), what does ..."
142641,Is there justice in the play Othello?,Is there justice in the play Othello?